.CryptoBuyContainer {
	width: 100%;
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
}

.FilterContainer {
	width: 80%;
	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	background: white;
  	margin: 5%;
  	min-height: 150px;
  	border-radius: 10px;
}

.FilterChosen {
	margin: 2% auto;
	font-family: "Arial";
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: brown;
    margin: 2px;
}