.FilterContainer {
	width: 80%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: white;
	margin: 5% 5% 2% 5%;
	min-height: 150px;
	border-radius: 10px;
}

.FilterChosen {
	margin: 2% auto;
	font-family: "Arial";
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: #006666;
  margin: 2% 0% 2% 0%;
}

.SelectContainer {
	width: 50%;
	margin: 2% auto;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}
