.NavbarContainer {
	width: 100%;
	background: #4a3a84;
	min-height: 50px;
	display:flex;
	flex-direction: row;
	align-items: center;
}

.LeftNavBarItemsContainer {
	width: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.NavbarItem {
	display: flex;
	font-family: "Arial";
	font-size: 1.4em;
	color: white;
	margin: 0% 1% 0% 5%;
	width: 15%;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.SearchFieldContainer {
	width: 40%;
	flex-direction: column;
	align-items: right;
	justify-content: right;
	align-items: flex-end;
	display:flex;
	margin-right: 2%;
}

.SearchBarCustomStyle {
	width: 50%;
}
