.NavbarContainer {
	width: 100%;
	background: #4a3a84;
	min-height: 50px;
	display:flex;
	flex-direction: row;
	align-items: center;
}

.LeftNavBarItemsContainer {
	width: 75%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.NavbarItem {
	display: flex;
	font-family: "Arial";
	font-size: 1.4em;
	color: white;
	margin: 10px;
	width: 10%;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.SearchFieldContainer {
	width: 10%;
	display:flex;
	align: right;
}

.SearchBarCustomStyle {
	width: 50%;
}
