.PrisforskjellContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PrisforskjellSegmentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderSegmentSection {
  display: flex;
  flex-direction: row;
}

.SegmentContainer {
  width: 50%;
  margin: 0 auto;
}

.ForskjellHeading {
  display: flex;
  font-family: "Arial";
  font-size: 2.0em;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.GreenSpread {
  font-family: "Arial";
  font-size: 1.3em;
  color: green;
  font-weight: bold;
}

.tickerSegment {
  font-family: "Arial";
  font-size: 1.3em;
  color: black;
  font-weight: bold;
}

.PrisinfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.PrisEnkeltExchangeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ExchangeInfo {
  font-family: "Arial";
  font-size: 1.0em;
  color: black;
  margin-right: 3%;
  width: 20%;
}
